/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
    font-family: "balsa";
    src: url("../font/balsa.woff2") format("woff2"),
    url("../font/balsa.woff") format("woff");
      
}

/* Margen general */
html{
    padding: 20px;
  
    font-family: "balsa";
    
}

/* HEADER */
header{
    display:flex;
    justify-content: center;
    background-color: goldenrod;

}

/* MENÚ Y LOGO */
nav{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: goldenrod;
}
a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    border: 1px solid honeydew;
    padding:10px;
    border-radius: 10px;
}

.logo{
    border-radius: 15px;

}

/* FOOTER */

footer{
    display: flex;
    justify-content: center;
    color:#007125;
    background-color: goldenrod;
}

